@charset "utf-8";
/*
base-style
*/
html {
  scroll-behavior: smooth;
  }
  
body {
  font-family: YuMincho, "Yu Mincho", serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #121212;
}

a:hover {
  opacity: 0.7;
}

h1,
h2,
h3,
p,
ul,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

.footer {
  background-color: #fff;
  text-align: center;
  padding-block: 20px;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .loader__logo {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  display: none;
}

.loader .loader__logo img {
  width: 100%;
}

.loader__logo--txt {
  margin-top: 10px;
  margin-left: 9px;
}

/*
button
*/
.button {
  color:#242c5c;
}

.close {
  color:#242c5c;
}

/*
//button
*/

/*
fade-in
*/
.fadein {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: opacity 1s, visibility 1s, transform 1s;
}

.is-fadein {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/*
//fade-in
*/
/*
//base-style
*/

/*
header
*/
header {
  height: 80px;
  background-color: #fff;
}

.header__wrapper {
  height: 100%;
  margin: 0 19px;
  display: flex;
  align-items: center;
}

.header__logo-inner {
  display: flex;
}

.header__logo {
  max-width: 60.31px;
}

.header__logo img {
  width: 100%;
}

.header__logo-txt {
  max-width: 183px;
  margin-left: 11.7px;
}

.header__logo-txt img {
  width: 100%;
}

.global-nav {
  margin-left: 18px;
}

.global-nav__nav-items {
  display: flex;
}

.global-nav__nav-item {
  font-size: 12px;
  padding: 0 13px;
  text-align: center;
}

.global-nav__nav-0 {
  padding-top: 12px;
  border-right: 1px solid #c4c4c4;
}

.global-nav__nav-1 {
  width: 134px;
}

.global-nav__nav-2 {
  width: 104px;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;
}

.global-nav__nav-3 {
  padding-top: 12px;
}

.header__hamburger {
  display: none;
  width: 48px;
  height: 100%;
  transform: translateX(100%);
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}

.header__hamburger-border {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.header__hamburger span:nth-child(1) {
  top: 0;
}

.header__hamburger span:nth-child(2) {
  margin: 8px 0;
}

.header__hamburger span:nth-child(3) {
  top: 0;
}


/*
//header
*/

/*
hero-wrapper
*/
.hero__wrapper {
  width: 100vw;
  height: calc(100vh - 80px);
  
}

#slideshow {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.hero__wrapper--text {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hero__wrapper--text img {
  width: 100%;
}

.vegas-animation-kenburns {
  animation: kenburns ease-out;
}

@keyframes kenburns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

/*
//hero-wrapper
*/

/*
about-wrapper
*/
.about-wrapper__about-outer {
  background-color: #eaeaea;
  padding-top: 37.7px;
  padding-bottom: 36.5px;
}

.about-wrapper__about-inner1 {
  max-width: 807.91px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.about-wrapper__about-logo {
  max-width: 319.81px;
}

.about-wrapper__about-logo > img {
  width: 100%;
}

.about-wrapper__catch-copy {
  font-size: 40px;
  line-height: 1.7;
  margin-left: 102.1px;
}

.about-wrapper__about-inner2 {
  display: flex;
  align-items: center;
}

.about-wrapper__about-image1 {
  width: 50%;
}

.about-wrapper__about-image1 > img {
  width: 100%;
}

.about-wrapper__about-text1-outer {
  width: 50%;
  text-align: center;
}

.about-wrapper__about-text1 {
  font-size: 28px;
  line-height: 1.71428571;
}

.about-wrapper__about-inner3 {
  display: flex;
  align-items: center;
  background-color: #242c5c;
}

.about-wrapper__about-text2-outer {
  width: 50%;
}

.about-wrapper__about-text2 {
  color: #fff;
  max-width: 455px;
  margin: 0 auto;
  font-size: 28px;
  line-height: 1.71428571;
}

.about-wrapper__about-image2 {
  width: 50%;
}

.about-wrapper__about-image2 > img {
  width: 100%;
}

.about-wrapper__ec {
  background-color: #DF0445;
  display: block;
}

.about-wrapper__ec-image {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.about-wrapper__ec-image img {
  width: 100%;
}


/*
//about-wrapper
*/

/*
future-wrapper
*/

.future-wrapper {
  padding: 72px 0 91px 0;
}

.future-wrapper__future-inner {
  max-width: 600px;
  margin: 0 auto;
}

.future-wrapper__future-heading {
  font-size: 28px;
  line-height: 1.71428571;
  color: #fff;
  text-align: center;
  padding: 22px 0 17px 0;
  border-radius: 36px;
  background-color: #242c5c;
}

.future-wrapper__future-title {
  font-size: 28px;
  line-height: 1.71428571;
  text-align: center;
  margin-top: 72px;
  margin-bottom: 21px;
}

.future-wrapper__future-text {
  padding: 0 3%;
}

.future-wrapper__future-title1 {
  margin-top: 83px;
}

.future-wrapper__future-description {
  font-size: 20px;
  line-height: 1.7;
}

.future-wrapper__future-image {
  width: 100%;
  margin-top: 10px;
}

.future-wrapper__future-image img {
  width: 100%;
}

/*  
//future-wrapper
*/

/*
accsess
*/
.map {
  padding-bottom: 83px;
}

.access__headline {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 83px;
  font-size: 28px;
  line-height: 1.71428571;
  color: #fff;
  text-align: center;
  padding: 22px 0 17px 0;
  border-radius: 36px;
  background-color: #242c5c;
}

/*
footer
*/
.contact {
  background-color: #eaeaea;
  display: flex;
  align-items: center;
}

.contact__text-outer {
  width: 50%;
}

.contact__text-inner {
  max-width: 443px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 1.68181818;
}

.contact__image {
  width: 50%;
}

.contact__image > img {
  width: 100%;
}


/*
//footer
*/

/*
form
*/
.contact_headline {
  font-size: 32px;
  text-align: center;
  position: relative;
  margin-top: 40px;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.contact_headline::before {
  content: 'CONTACT';
  font-size: 16px;
  color: #c4c4c4;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.form {
  border-top: 1px solid #c4c4c4;
  margin-inline: auto;
}

.form__wrapper {
  max-width: 1000px;
  margin-inline: auto;
}

.form__h3 {
  font-size: 24px;
  margin-top: 40px;
}

.form__headline {
  
}

.form__label {
  margin-top: 24px;
  margin-bottom: 16px;
}

._label {
  font-size: 16px;
}

._required {
  font-size: 12px;
  color: #FF3839;
}

.form__radio label {
  position: relative;
  display: inline-block;
   padding-left: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: .04em;
}

.form__radio {
  margin-top: .8rem;
  font-size: 14px;
}

.form__content .form__textarea {
  height: 24.92188vw;
  line-height: 1.71;
  resize: vertical;
}

.form__textarea {
  padding: 22px 22px 16px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .04em;
  background: #f4f4f4;
  border-radius: 0.6rem;
  border: 1px solid transparent;
}

.customer_info_inputs .form__textarea {
  line-height: .5;
  width: 65%;
}

/* buttonタグのリセットCSS（不要な場合、セレクタごと削除してください） */
button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* ボタンのスタイル */
.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 72px;
  margin-inline: auto;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #242c5c;
  border-radius: 32px; /* (buttonの高さ / 2) の値 */
}

@media (any-hover: hover) {
  .buttonRound {
    transition: background-color 0.2s;
  }

  .buttonRound:hover {
    background-color: #242c5c;
    opacity: .7;
  }
}
/*
//form
*/

/*
about
*/

.about__body {
  color: #4d5156;
}

.title__area {
  color: #fff;
  background-image: url(../images/mainvisual2.jpg);  
  background-position: center center;
  padding-block: 100px;
  text-align: center;
  text-shadow: 1px 2px 3px #808080;
}

.about__contents {
  background-color: #fbf9f3;;
  padding-top: 50px;
}

.about__contents__wrapper {
  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  padding-top: 108px;
  padding-bottom: 200px;
  gap: 100px;
}

.about__contents__textarea {
  width: 40%;
}

.about__contents__headline {
  font-size: 24px;
  color: #87aa4e;
  font-weight: bold;
  margin-bottom: 75px;
}

.about__contents__description {
  font-size: 16px;
  font-weight: bold;
  color: #4d5156; 
  line-height: 38px;
}

.about__img {
  width: 40%;
}

.about__img img {
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

.about__contents__wrapper--a {
  padding-bottom: 20px;
}

.about__contents__wrapper--b {
  
}

/*
//about
*/

/*
Tablet
*/
@media screen and (max-width:1024px) {
    /*
    header-tablet
    */
    .global-nav__nav-item {
        padding: 0 9px;
    }

    .global-nav__nav-0 {
      padding-top: 12px;
  }

    .global-nav__nav-3 {
        padding-top: 12px;
    }
    /*
    //header-tablet
    */

    /*
    about-wrapper-tablet
    */
    .about-wrapper__about-outer {
        padding: 27.7px 0 50px 0;
    }

    .about-wrapper__about-inner1 {
        display: block;
        text-align: center;
    }

    .about-wrapper__about-logo {
        margin: 0 auto;
    }

    .about-wrapper__catch-copy {
        margin: 32px auto 0 auto;
    }

    .about-wrapper__about-inner2 {
        display: block;
    }

    .about-wrapper__about-image1 {
        width: 100vw;
    }

    .about-wrapper__about-text1-outer {
        width: 100vw;
        padding: 92px 0 66px 0;
    }

    .about-wrapper__about-inner3 {
        display: block;
    }

    .about-wrapper__about-text2-outer {
        width: 100vw;
        padding: 91px 0 67px 0;
    }

    .about-wrapper__about-image2 {
        width: 100vw;
    }

    /*
    //about-wrapper-tablet
    */

    /*
    footer
    */
    .contact {
        display: block;
    }

    .contact__text-outer {
        width: 100vw;
        padding: 68px 0 50px 0;
    }

    .contact__image {
        width: 100vw;
    }


    /*
    //footer
    */

    /*
    form
    */

    .form__wrapper {
      max-width: 700px;
    }

  }
/*
//Tablet
*/

/*
SP
*/
@media screen and (max-width:599px) {
/*
header-SP
*/

/*ハンバーガー開閉時背景固定*/
body.active { 
  height: 100%;
  overflow: hidden;
}

.global-nav {
  margin: 0;
  color: #fff;
}

.global-nav__nav-items {
  text-align: center;
  display: block;
}

.global-nav__nav-0 {
  margin: 0 auto;
  padding: 10px 0;
}

.global-nav__nav-1 {
  width: 134px;
  margin: 0 auto 10px auto;
  padding: 10px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.global-nav__nav-2 {
  border-right: none;
  border-left: none;
  /* border-top: 1px solid #fff; */
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-items {
  width: 100%;
}

.header__hamburger {
  display: block;
}

.header__nav {
  display: block;
}

.header__nav {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%); 
  background-color: #242C5C;
  opacity: .9;
  transition: ease .4s;
}

.header__nav.active {
  transform: translateY(0);
  z-index: 9998;
  position: fixed;
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
  background-color: #fff;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
  background-color: #fff;
}

.nav-items {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.nav-items__item a {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

.about-wrapper__catch-copy {
  font-size: 35px;
  line-height: 1.2;
}

.about-wrapper__about-text1-outer {
  width: 100vw;
  padding: 40px 10px;
}

.about-wrapper__about-text1 {
  font-size: 23px;
}

.about-wrapper__ec-image {
  width: 95%;
  margin: 0 auto;
}

.about-wrapper__about-text2 {
  width: 85%;
  font-size: 23px;
}

.future-wrapper {
  padding: 72px 10px 91px 10px;
}

.future-wrapper__future-title {
  font-size: 23px;
}

.future-wrapper__future-desciption {
  font-size: 18px;
}

.contact__text-outer {
  width: 80vw;
  padding: 50px 0 50px 0;
  margin: 0 auto;
}

.contact__text-inner {
  font-size: 18px;
}

.access__headline {
  max-width: 355px;
}

/*
//header-SP
*/

/*
form
*/
.form__wrapper {
  max-width: 300px;
}

.category3 {
  margin-top: 5px;
}

.form__radio--3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.category3__txt {
  flex-wrap: wrap;
}

.form__body  .form__textarea {
  width: 100%;
}

/*
//form
*/

/*
//SP

}



